$nav-height-desktop: 125px;
$theme-color: rgb(230, 218, 206);
$font-1:'Poppins', sans-serif;
$responsive-1: 900px;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
body{
  font-family: $font-1;
}
header {
  height: $nav-height-desktop;
  background-color: white;
  width: 100vw;
  //position: sticky;
  //top:0;
  z-index: 12123123;
  .header-content {
    height: inherit;
    width: inherit;
    padding: 4px 5%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 100%;
    @media screen and(max-width:$responsive-1) {
      grid-template-columns: 1fr;
    }

    &-name {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 17px;
      @media screen and (max-width: 600px) {
        font-size: 12px;
        
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .square,.dash{
          display: none;
        }
      }
      flex-wrap: nowrap;
      li {
        list-style-type: none;
        
        font-family: $font-1;
        &.name{
          font-weight: bold ;
          font-size: 1.5em;
        }
        &.name,
        &.dash {
        
          margin-right: 5px;
        }
        &.dash {
          font-size: 1.2em;
        }
        &.career {
          font-size: 1.2em;
        }
      }

      
    }
    .btn-toggle{
      display:none;
      z-index: 234234234234234;
      position: absolute;
      right:1rem;
      top:2.8rem;
      position: fixed;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:auto;
      padding: 5px 2px;
      width: 2rem;
      border:none;
      background-color: transparent;
      transition: all .2s;
      
      span{
        margin: 4px ;
        width:100%;
        height:1px;
       border-bottom: 1px solid black; 
      }
     
      @media screen and (max-width:$responsive-1) {
        display: inline-flex;
      }
    }
    .backdrop{
      display:none;
      @media screen and (max-width:$responsive-1) {
        //display:inline-block;
        position: fixed;
        z-index: 123123123  - 49;
        background-color: rgba(59, 56, 56, 0.733);
        width:100vw;
        height:100vh;
        top:0;
        left:0;
      }
    }
    &-shortcuts {
      display: flex;
      align-items: center;
      position: fixed;
      right:1rem;
      top:45vh;
      flex-direction: column;
      li {
        font-family: $font-1;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 0 5px;
        
        list-style-type: none;
        font-size: 1.1rem;
        display: inline-block;
        cursor: pointer;
        transition: all .2s;
        &:hover{
          color:rgb(72, 72, 243);
        }
      }
      @media screen and(max-width:$responsive-1) {
        display: none;
        flex-direction: column;
        padding-top: 5rem;
        position: fixed;
        z-index: 123123123;
        background-color: $theme-color;
        width:100vw;
        max-width: 400px;
        @media screen and (max-width:500px) {
          max-width: unset;
        }
        height:100vh;
        top:0;right:0;
        li{
          margin:1rem 0;
          color:white;
          opacity: 0;
          animation:slideleft .2s linear forwards;
          @for $i from 1 to 7 {
            &:nth-child(#{$i}){
              animation-delay:  $i * 100ms - 100ms;
            }
          }
        }
      }
      
    }
  }
}


section.section-1 {
  font-family: $font-1;
 
  background: linear-gradient(to left, white 55%, $theme-color 45%);
  @media screen and(max-width:$responsive-1) {
    background: linear-gradient(to top, rgb(230, 218, 206) 75%, white 25%);
  }
  width: 100vw;
  overflow: hidden;

  .introduction {
    width: 100%;
    max-width: 800px;
    padding: 5px 2%;
    height: 500px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    @media screen and (max-width: $responsive-1) {
      grid-template-columns: 1fr;
      height: 700px;
      grid-template-rows: 45vw 1fr;
      margin: 100px auto 0 auto;
      &-profile{
         
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 100%;
          
      }
    }
    &-profile {
      box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
      z-index: 12312;
      background-color: white;
      display: grid;
      .avatar-container {
        background-color: rgba($theme-color, 0.7);
        padding: 15% 25% 20% 25%;
        @media screen and (max-width: $responsive-1){
           
            padding:0 15%;
            width:100%;
            min-width: 100px;
            display:flex;
            align-items: center;
        }

        img {
          border-radius: 100%;
        }
      }
      .name-and-social-media {
        
        padding-top: 15px;
        height:100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        h1,
        h2 {
          text-align: center;
          margin-bottom: 4%;
          white-space: nowrap;
        }
        h2{
          font-weight: lighter;
          font-size: 1.2em;
        }
        h1{
          font-size: 1.6em;
          border-bottom: 4px solid rgb(90, 90, 255);
        }
        @media screen and (max-width:600px){
          font-size: 12px;
        }
        @media screen and (max-width:350px){
          font-size: 8px;
        }

        .social{
          text-align: center;
          img{
            border-radius: 2px;
            border:2px solid transparent;
            transition: all .2s;
            &:hover{
              border:2px solid $theme-color;
            }
          }
         
        }
      }
    }
    &-information {
      padding-left: 2rem;
      padding-top: 1rem;

      .short-link {
        width: 100%;
        padding: 15px 0;
      }
    }
  }
}

section.section-2{
  font-family: $font-1;
  position: relative;
    min-height: 50vh;
    padding-top: 1rem;
   
    background-color: rgba($theme-color,.9);
   
    .resume-experience{
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin:0 auto;
        padding: 0 5%;
       
        p{
          padding-top: 5px;
          vertical-align: baseline;
        }
    }
}

section.section-3{
  min-height: 50vh;
  background-color: rgba($theme-color, 0.7);
  .project-container{
    max-width: 1000px;
    padding:3rem 5%;
    margin:0 auto;

    .project-wrapper{
     box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 25px 0px;
      background-color: white;
      margin-bottom: 5rem;
      display: grid;
    grid-template-columns: 1fr 1fr;
   @media screen  and (max-width:800px){
     grid-template-columns: 1fr;
     grid-template-rows: max-content 1fr;
   }
    img{
      width:100%;
      height:auto;
    }
    .project-detail{
      padding: 1rem 5%;
      display: inline-block;
      h1{
        color:rgb(94, 94, 255);
      }
      h3{
        padding-left:.2rem ;
      }
      p{
        margin-top: 1rem;
      }
    }
  }
  }
}
footer{
  padding:0 14px 2rem 14px;
  background-color: rgba($theme-color,.5);
  form{
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 25px 0px;
    max-width: 700px;
    border-radius: 4px;
    padding: 4rem 3rem;
    background-color: white;
  
    margin:2rem auto;
   label{
     padding-left: 5px;
     &:after{
       content:'*';
      color:blue;
      padding-left: 2px;
     }
   }

    .group-input{
      width:100%;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    #message-input{
      resize: none;
      font-family: 'Times New Roman', Times, serif;
      
      width:100%;
      padding:5px;
      margin-bottom: 10px;
      &,&:focus{
        
        outline: none;
      }
      border:none;
      border-bottom: 2px solid gray;
    }
    button{
      display: block;
      margin:0 auto;
    }
    input{
      width:100%;
      margin-bottom: 15px;
      padding:5px 15px;
      border:none;
      transition: all .2s;
     
      &:focus{
        border: none;
        outline: none;
      }
      border-bottom: 2px solid rgba(128, 128, 128, 0.616);
      &:focus{
        border-bottom: 2px solid;

        border-bottom-color:  rgba(95, 95, 253, 0.678);
      }
      
    }
  }
}
// keyframes
@keyframes slideleft {
  from{
    transform:translateX(50px);
    opacity: .6;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}